@font-face {
  font-family: 'Montserrat';
  src: url("../../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
}
header{
  background: url("Header/header-svg.svg")no-repeat;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ Ð¸ Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: cover;
  height: 655px;
  padding: 0 ;
  display: flex;
}
.brand--name{
  padding: 24px 0 48px 0;
}
.text--header{
  margin: 0 9vw 0 9vw;
  max-width: 620px;
    p{
      padding-top: 24px;
      width: 95%;
    }
    h1, h2, p{
      color: #ffffff;
      letter-spacing: 0.006em;
    }
    a{
      text-decoration: none;
    }
}
.view--stats--button{
  height: 56px;
  width: 154px;
  font-family: Montserrat, serif;
  font-size: 16px;
  line-height: 142%;
  color: #3A80BA;
  border-radius: 8px;
  border: none;
  margin-top: 32px;
}
#mobile{
  margin: 70px auto 30px auto;
}
.centered--text{
  margin: 16px auto 24px auto;
  text-align: center;
  padding: 0 12px 0 12px;
    h3{
      max-width: 420px;
      font-weight: 500;
      color: #1A1A1A;
    }
    h4{
      color: #1A1A1A;
    }
    p{
      max-width: 710px;
      color: #7E7E7E;
    }
}
@media all and (max-width: 1000px){
  .text--header{
    margin: 0 0 0 9vw;
  }
}
@media all and (max-width: 700px){
  header{
    flex-direction: column;
    height: auto;
  }
  #mobile{
    margin-top: 32px;
  }
  .text--header{
    display: inline-grid;
    margin: 0 9vw 0 9vw;
  }
  .view--stats--button{
    margin: 32px auto 0 auto;
  }
}


